/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* General styles */
*{
    box-sizing: border-box;
}
:root {
    --box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);
}
body{
    background-color: #8ec5a9;
    font-family: 'Playfair Display', serif;
}

/* Footer */
.footer{
    text-align: center;
    color: white;
}

/* Authantication Page */
.slContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 75vh;
}
.steperContainer{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
}
.formControl{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.fieldsDiv{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
}
.fields{
    width: 100%;
}
.error{
    color: red;
}
.btnDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.buttonN{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    width: 50%;
}
/* Media Queries for Auth compont */
@media(max-width: 700px){
    .steperContainer{
        width: 450px;
    }
}
@media(max-width: 500px){
    .steperContainer{
        width: 300px;
    }
    .formControl{
        width: 250px;
    }
    .email{
        margin-top: 30px;
    }
}
@media(max-width: 300px){
    .steperContainer{
        width: 275px;
    }
    .formControl{
        width: 250px;
    }
}

/* Loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(255, 255, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

/* Create Diary */
.buttonND{
    background: linear-gradient(45deg, #8dfe6b 30%, #7bff53 90%);
    width: 50%;
}
.buttonNDC{
    background: linear-gradient(45deg, #fe6b6b 30%, #ff5353 90%);
    width: 50%;
}
.cndContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 70vh;
}
.cdnDiv{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    height: 70vh;
    overflow-y: auto;
}
.divG{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}
.fieldsG{
    display: flex;
    justify-content: space-evenly;
}
.cBtnDiv{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
/* Media Queries for Diary compont */
@media(max-width: 700px){
    .cdnDiv{
        width: 450px;
    }
}
@media(max-width: 500px){
    .cdnDiv{
        width: 300px;
    }
}
@media(max-width: 300px){
    .cdnDiv{
        width: 275px;
    }
}

/* Diary Tile */
.diary-tile{
    background-color: #717fce;
    width: 100%;
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
}
.title{
    cursor: pointer;
    width: auto;
    margin: 5px;
}
.subtitle {
    font-size: 0.9rem;
    margin: 5px;
}
.tilebtnDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: rgb(88, 177, 169); 
    border-radius: 50px;
    margin-top: 50px;
}  
::-webkit-scrollbar-thumb:hover {
    background: rgb(16, 109, 101); 
}

/* Editor */
.aEContainer{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 70vh;
    padding: none;
}
.steperContainer1{
    width: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--box-shadow);
    width: 100%;
    min-height: 70vh;
}
.formControl1{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.fieldsDiv1{
    margin-bottom: 20px;
    margin-top: 0px;
    height: 50px;
}
.fieldsDiv2{
    margin-bottom: 0px;
    margin-top: 10px;
}
.buttonF{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    width: 15%;
}
.buttonFF{
    background: linear-gradient(45deg, #8dfe6b 30%, #7bff53 90%);
    width: 15%;
}
.buttonFE{
    background: linear-gradient(45deg, #756bfe 30%, #5356ff 90%);
    width: 15%;
}
.buttonFB{
    background: linear-gradient(45deg, #fe6b6b 30%, #ff5353 90%);
    width: 15%;
}
.btnDivF{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Entries */
.entries{
    height: 68vh;
    padding: 10px;
    overflow-y: auto;
}
.moveBack{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.entriesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.entriesTitle{
    color: #ffffff;
    font-size: 25px;
}
.entriesGrid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entryCard {
    border-radius: 20px;
    margin: 0.5% 0.5% !important;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #25312b;
    cursor: pointer;
    padding: 10px;
    min-width: 200px;
    height: 50px;
}
.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.moveBack1{
    display: flex;
    justify-content: left;
    align-items: left;
}
.detailsDiv{
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    height: 55vh;
    overflow-y: auto;
}
.detailsDivh{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.para{
    text-align: justify;
}
.buttonZ{
    background: linear-gradient(45deg, #ffffff 30%, #e9e9e9 90%);
    width: 10%;
    border-radius: 50px;
}
.btzDiv{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
}