/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* General styles */
*{
    box-sizing: border-box;
}
:root {
    --box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);
}
body{
    background-color: #8ec5a9;
    font-family: 'Playfair Display', serif;
}

/* Footer */
.footer{
    text-align: center;
    color: white;
}

/* Authantication Page */
.slContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 75vh;
}
.steperContainer{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    margin-top: 10px;
}
.formControl{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.fieldsDiv{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
}
.fields{
    width: 100%;
}
.error{
    color: red;
}
.btnDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.buttonN{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    width: 50%;
}
/* Media Queries for Auth compont */
@media(max-width: 700px){
    .steperContainer{
        width: 450px;
    }
}
@media(max-width: 500px){
    .steperContainer{
        width: 300px;
    }
    .formControl{
        width: 250px;
    }
    .email{
        margin-top: 30px;
    }
}
@media(max-width: 300px){
    .steperContainer{
        width: 275px;
    }
    .formControl{
        width: 250px;
    }
}

/* Loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(255, 255, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}